GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=
MIDTRANS_SERVER_KEY=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_ROOT_DOMAIN=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SUPABASE_SERVICE_ROLE_KEY=
VERCEL_TEAM_ID=
VERCEL_TOKEN=